# Entorno virtual
venv/
.venv/
env/

# Variables de entorno
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.pyc
*.pyo

# Django
db.sqlite3
media/
staticfiles/
*.log

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Docker
.dockerignore
